[Desktop Entry]
Version=1.0
Type=Application
Name=coppwr
GenericName=Low level PipeWire control GUI
Comment=Low level control GUI for the PipeWire multimedia server
Keywords=PipeWire;Debug;
Categories=AudioVideo;System;
Icon=io.github.dimtpap.coppwr
Exec=coppwr
Terminal=false